<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    
	</system.web>
  <connectionStrings>
    <add name="conn" connectionString="server=(local);trusted_connection=true;database=tbp" />
    <add name="tbpConnectionString" connectionString="Data Source=JATINSHARMA;Initial Catalog=tbp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
